.contact-info-container{
    text-align: center;
    border: 10px solid green;
    margin: 20px;
    padding: 30px 20px;
    border-radius: 15px;
    cursor: pointer;
    overflow-wrap: break-word;
}

.profile__picture{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-bottom: 20px;
}

.portfolio-text{
    font-size: large;
    font-weight: bold;
}

.react-card-content-title{
    font-size: medium;
}