.social-icon{
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 5px 5px;
}

.position__view{
    position: relative;
    text-align: center;
    justify-content: center;
}

.contactinfo{
    width: 100%;
    text-align: center;
    position: relative;
    justify-content: center;
    margin-top: 10px;
}

